@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@6900..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
@layer base {
  body {
    @apply font-lexend;
  }
}